<form method="post" action="{{ path('hecho_delete', {'id': hecho.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hecho.id) }}">
    <button class="btn">Delete</button>
</form>
