{% extends 'base.html.twig' %}

{% block title %}New DetalleHecho{% endblock %}

{% block body %}
    <h1>Create new DetalleHecho</h1>

    {{ include('detalle_hecho/_form.html.twig') }}

    <a href="{{ path('detalle_hecho_index') }}">back to list</a>
{% endblock %}
